In [282]:
import pandas as pd 
df = pd.read_csv("netflix_titles.csv")
initial_rows = df.shape[0] #Keeps the original count of rows
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [283]:
df.dtypes

show_id           str
type              str
title             str
director          str
cast              str
country           str
date_added        str
release_year    int64
rating            str
duration          str
listed_in         str
description       str
dtype: object

In [284]:
df.shape #Gives number of rows and columns #Note I added a duplicate row to test drop_duplicates

(8808, 12)

In [285]:
df = df.drop_duplicates()
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   str
 1   type          8807 non-null   str
 2   title         8807 non-null   str
 3   director      6173 non-null   str
 4   cast          7982 non-null   str
 5   country       7976 non-null   str
 6   date_added    8797 non-null   str
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   str
 9   duration      8804 non-null   str
 10  listed_in     8807 non-null   str
 11  description   8807 non-null   str
dtypes: int64(1), str(11)
memory usage: 825.8 KB

In [286]:
df.isnull().sum().sort_values(ascending=False) #Check for missing values in each column.

director        2634
country          831
cast             825
date_added        10
rating             4
duration           3
show_id            0
type               0
title              0
release_year       0
listed_in          0
description        0
dtype: int64

In [287]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='str')

In [288]:
for column in df.columns:
    percentage = df[column].isnull().mean() #Calculate the proportion of missing values in the 'director' column.
    print(f"{column}: {percentage:.2%} missing values") #Print the percentage of missing values for each column.

show_id: 0.00% missing values
type: 0.00% missing values
title: 0.00% missing values
director: 29.91% missing values
cast: 9.37% missing values
country: 9.44% missing values
date_added: 0.11% missing values
release_year: 0.00% missing values
rating: 0.05% missing values
duration: 0.03% missing values
listed_in: 0.00% missing values
description: 0.00% missing values

In [289]:
# Remove a column or row with .drop, .dropna or .isnull

# Drop a column
#df.drop('director', axis  = 1 ) # axis = 1 means column, axis = 0 means row. Drops all the directors

# Drop rows with any missing values
#no_director_list = df[df['director'].isnull()].index # Get the index of rows with missing 'director' values
#df.drop(no_director_list, axis=0, inplace=True) # Drop those empty director rows, df.drop(indexes, axis=0) axis=0 means row inplace=true keeps alive these changes till reset.
#df.isnull().sum()

#~ + isnull()
#df[~(df['director'].isnull())].isnull().sum() #Keeps only rows where director is not null as ~ is NOT

##df.isnull().sum() We cant put inplace here sow er run the commands in the same line

#dropna()
df = df.dropna(subset=['director']) # Drops rows where director subset is null its like df_netflix[~df_netflix['director'].isnull()]

In [290]:
#df.isnull().sum().sort_values(ascending=False)
df[df['rating'].isnull()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7537,s7538,Movie,My Honor Was Loyalty,Alessandro Pepe,"Leone Frisa, Paolo Vaccarino, Francesco Miglio...",Italy,"March 1, 2017",2015,NaN,115 min,Dramas,"Amid the chaos and horror of World War II, a c..."

In [291]:
#Uses fillna() to replace null vlues by the mean, median(numeric data) and mode(categorical data)

df['rating'].mode()
mode1 = 'ANYTHING'.join(df['rating'].mode()) # mode() returns a series so we join to make it a string the mode waw 0(index) TV-MA with this way we make it a sting and '' can be anything its actually the seperator of the cells
print(mode1)

mode2 = df['rating'].mode().iloc[0] #another way to do it without join just locate the value
print(mode2)

df['rating'] = df['rating'].fillna(mode1) #Fills missing values in the 'rating' column with the mode value stored in mode1, df['rating'].fillna(mode1, inplace=True) older versions worked with inplace now we assign it back to the column

df.isnull().sum()

TV-MA
TV-MA

show_id           0
type              0
title             0
director          0
cast            473
country         422
date_added        0
release_year      0
rating            0
duration          3
listed_in         0
description       0
dtype: int64

In [292]:
#Mean (average) -> Skewed data Outliers exist Categorical data ❌
#Median (middle value) -> Numeric data-Data is skewed-Outliers exist  - Median ignores extremes.
#Mode (most common value) -> Categorical data ✅ Discrete values Can be used on numeric if repeated

In [293]:

##df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
##df['release_year'] = pd.to_numeric(df['release_year'], errors='coerce')

In [294]:
df['duration']= df['duration'].fillna('0') #Fills missing values in the 'duration' column with 0 ## We filled it with '0' to become a string, so to split it and make it an int
df.isnull().sum()

show_id           0
type              0
title             0
director          0
cast            473
country         422
date_added        0
release_year      0
rating            0
duration          0
listed_in         0
description       0
dtype: int64

In [295]:
#df.fillna(method= 'ffill') # forward fill df.ffill()
#df.fillna(method='bfill') # backward fill df.bfill()

#df.ffill()  # ffill = copy from above
df = df.bfill() #bfill = copy from below

In [296]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [297]:
#Extracting data from duration column split() and extract()
df['duration'].str.split().str[0].isna().sum()

df_movies = df[df['type'] == 'Movie']

#temp = df_movies['duration'].str.split().str[0]

#temp[temp.isna()]

df_movies['minute']  = df_movies['duration'].str.split(expand=True)[0].astype(int) #int doesnt work because it has 3 NanN so we can use Int64 Nan wghere created furing the split, or fix the "0" as a string so it finds something to split

df_movies.info()

#df_movies['duration'].str.split(expand=True)[0].astype('Int64')

<class 'pandas.DataFrame'>
Index: 5943 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5943 non-null   str
 1   type          5943 non-null   str
 2   title         5943 non-null   str
 3   director      5943 non-null   str
 4   cast          5943 non-null   str
 5   country       5943 non-null   str
 6   date_added    5943 non-null   str
 7   release_year  5943 non-null   int64
 8   rating        5943 non-null   str
 9   duration      5943 non-null   str
 10  listed_in     5943 non-null   str
 11  description   5943 non-null   str
 12  minute        5943 non-null   int64
dtypes: int64(2), str(11)
memory usage: 650.0 KB

In [298]:
df_movies

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,minute
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",90
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,91
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",125
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,104
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,127
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...,96
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",158
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,88
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",88
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,111

In [299]:
df_movies['date_added'].str.split(',',expand=True)[1]
df_movies['date_added'].str.extract('(\d{4})') #regex pattern to extract the year part

         0
0     2021
6     2021
7     2021
9     2021
12    2021
...    ...
8801  2016
8802  2019
8804  2019
8805  2020
8806  2019

[5943 rows x 1 columns]

In [300]:
print("The csv file had ",initial_rows, ", we cleaned to",df.shape[0], "rows.")

The csv file had  8808 , we cleaned to 6173 rows.

In [301]:
# Save the cleaned dataset
df.to_csv('netflix_cleaned.csv', index=False)