In [ ]:
import pandas as pd 
df = pd.read_csv("netflix_titles.csv")
df.head()

In [ ]:
df.dtypes

In [ ]:
df.shape #Gives number of rows and columns #Note I added a duplicate row to test drop_duplicates

In [ ]:
df = df.drop_duplicates()
df.info()

In [ ]:
df.isnull().sum().sort_values(ascending=False) #Check for missing values in each column.

In [ ]:
df.columns

In [ ]:
for column in df.columns:
    percentage = df[column].isnull().mean() #Calculate the proportion of missing values in the 'director' column.
    print(f"{column}: {percentage:.2%} missing values") #Print the percentage of missing values for each column.

In [ ]:
# Remove a column or row with .drop, .dropna or .isnull

# Drop a column
#df.drop('director', axis  = 1 ) # axis = 1 means column, axis = 0 means row. Drops all the directors

# Drop rows with any missing values
#no_director_list = df[df['director'].isnull()].index # Get the index of rows with missing 'director' values
#df.drop(no_director_list, axis=0, inplace=True) # Drop those empty director rows, df.drop(indexes, axis=0) axis=0 means row inplace=true keeps alive these changes till reset.
#df.isnull().sum()

#~ + isnull()
#df[~(df['director'].isnull())].isnull().sum() #Keeps only rows where director is not null as ~ is NOT

##df.isnull().sum() We cant put inplace here sow er run the commands in the same line

#dropna()
df.dropna(subset=['director']) # Drops rows where director subset is null its like df_netflix[~df_netflix['director'].isnull()]

In [ ]:
#df.isnull().sum().sort_values(ascending=False)
df[df['rating'].isnull()]

In [ ]:
#Uses fillna() to replace null vlues by the mean, median(numeric data) and mode(categorical data)

df['rating'].mode()
mode1 = 'ANYTHING'.join(df['rating'].mode()) # mode() returns a series so we join to make it a string the mode waw 0(index) TV-MA with this way we make it a sting and '' can be anything its actually the seperator of the cells
print(mode1)

mode2 = df['rating'].mode().iloc[0] #another way to do it without join just locate the value
print(mode2)

df['rating'] = df['rating'].fillna(mode1) #Fills missing values in the 'rating' column with the mode value stored in mode1, df['rating'].fillna(mode1, inplace=True) older versions worked with inplace now we assign it back to the column

df.isnull().sum()

In [ ]:
#Mean (average) -> Skewed data Outliers exist Categorical data ❌
#Median (middle value) -> Numeric data-Data is skewed-Outliers exist  - Median ignores extremes.
#Mode (most common value) -> Categorical data ✅ Discrete values Can be used on numeric if repeated

In [ ]:
df['duration']= df['duration'].fillna('0') #Fills missing values in the 'duration' column with 0 ## We filled it with '0' to become a string, so to split it and make it an int
df.isnull().sum()

In [ ]:
#df.fillna(method= 'ffill') # forward fill df.ffill()
#df.fillna(method='bfill') # backward fill df.bfill()

#df.ffill()  # ffill = copy from above
df.bfill() #bfill = copy from below

In [ ]:
df.isnull().sum()

In [ ]:
#Extracting data from duration column split() and extract()
df['duration'].str.split().str[0].isna().sum()

df_movies = df[df['type'] == 'Movie']

#temp = df_movies['duration'].str.split().str[0]

#temp[temp.isna()]

df_movies['minute']  = df_movies['duration'].str.split(expand=True)[0].astype(int) #int doesnt work because it has 3 NanN so we can use Int64 Nan wghere created furing the split, or fix the "0" as a string so it finds something to split

df_movies.info()

#df_movies['duration'].str.split(expand=True)[0].astype('Int64')

In [ ]:
df_movies

In [ ]:
df_movies['date_added'].str.split(',',expand=True)[1]
df_movies['date_added'].str.extract('(\d{4})') #regex pattern to extract the year part